<header class="pre-header">
  <div class="header--translate">
    <div role="menu" id="google_translate_element"></div>
  </div>
  <hr />

  <div class="container-fluid">
    <div class="row">
      <button id="drawer-button--menu" class="col-xs usa-button mobile-menu-button">mobile menu button</button>
      <hr />

      <div class="no-logo start-xs col-xs">
        <span>{{ site.data.labels.intro_markdown | strip_newlines | markdownify }}</span>
      </div>
      <div class="mobile-site-title start-xs col-xs">
        <span>{{ site.data.labels.site_title }}</span>
      </div>
      <div class="control-translate end-xs start-sm col-xs">
        <span id="drawer-button--translate">{{ site.data.labels.translate }}</span>
      </div>
    </div>
  </div>
</header>
<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="center-xs col-xs-12">
        <nav>
          <ul>
            <li><a class="header-link-list" href="{{ site.baseurl }}/">{{ site.data.labels.home }}</a></li>
            <li>More links here</li>
          </ul>
          <a class="usa-button" href="#">Project site button</a>
        </nav>
      </div>
    </div>
  </div>
</header>
<hr />
