{% capture list_items %}
  {% unless include.recursive %}
    {% assign index = site.pages | where: "url", include.base | first %}
    <li>
      <a href="{{ index.url }}"{% if page.url == index.url %} class="active"{% endif %}>
        {{ index.nav_title | default: index.title }}
      </a>
    </li>
  {% endunless %}

  {% for item in include.items %}
    {% assign item_slug = item.url | split: "/" | last | append: "/" %}
    {% assign parent_slug = item.url | remove: item_slug %}

    {% if parent_slug == include.base %}
      <li>
        <a href="{{ item.url }}"{% if page.url contains item.url %} class="active"{% endif %}>{{ item.title }}</a>
        {% include recursive-nav.html items=include.items base=item.url recursive=true %}
      </li>
    {% endif %}
  {% endfor %}
{% endcapture %}

{% assign list_items = list_items | strip %}

{% if list_items != empty %}
  {% capture list_class %}
    {% if include.recursive %}inner-list{% else %}list{% endif %}
  {% endcapture %}
  <ul class="{{ list_class }}">{{ list_items }}</ul>
{% endif %}
